[submodule "de-iteracion-a-recursion/__tests__/for_double"]
	path = de-iteracion-a-recursion/__tests__/for_double
	url = git@gist.github.com:583368bce1614debf20775c38a231fc1.git
[submodule "de-iteracion-a-recursion/__tests__/while_double"]
	path = de-iteracion-a-recursion/__tests__/while_double
	url = git@gist.github.com:e8f10023666141899f0d71989afb82f6.git
[submodule "de-iteracion-a-recursion/__tests__/for_sum"]
	path = de-iteracion-a-recursion/__tests__/reduce
	url = git@gist.github.com:e9d72eaa97da5feadf15f1e098b41df7.git
[submodule "de-iteracion-a-recursion/__tests__/compose"]
	path = de-iteracion-a-recursion/__tests__/compose
	url = git@gist.github.com:6426fb2014ad9ede5bc2dd26f49c33fc.git
